Body {
  height: 1fr;
  layout: horizontal;
}

.container,
Container,
ScrollableContainer {
  border: round dodgerblue;
  border-subtitle-align: left;
  padding: 0 0 0 1;
}

DataTable {
  height: 1fr;
}

.container:focus,
ScrollableContainer:focus {
  border: round lime;
}

ScrollableContainer > Static {
  width: auto;
}

ScrollableContainer > Question {
  width: 1fr;
}

/* MyningScreen */

ChapterWidget {
  width: 3fr;
}

Question {
  max-width: 100;
}

SideContainer {
  width: 1fr;
  min-width: 48;
}

DataTable > .datatable--header {
  background: 0%;
}

OptionList {
  background: black 0%;
  border: none;
  margin: 1 0;
  max-height: 75%;
  padding: 0;
}

OptionList:focus {
  border: none;
}

OptionList > .option-list--option-highlighted {
  background: $primary-lighten-1;
}

/* MineScreen */

Container {
  height: auto;
  layout: horizontal;
}

Container > Static {
  width: auto;
  margin: 0 1 0 0;
}

ProgressBar {
  width: 1fr;
}

Bar {
  width: 1fr;
}
