Body {
  height: 1fr;
  layout: horizontal;
}

.container,
ScrollableContainer {
  border: round dodgerblue;
  border-subtitle-align: left;
  border-subtitle-style: bold;
  border-title-style: bold;
  padding: 0 0 0 1;
}

.container:focus,
ScrollableContainer:focus {
  border: round lime;
}

ScrollableContainer > Static {
  width: auto;
}

ChapterWidget {
  width: 3fr;
}

SideContainer {
  width: 1fr;
  min-width: 48;
}

/* TODO fix width */
/* Question { */
/* } */

OptionList {
  background: black 0%;
  border: none;
  margin: 1 0;
  max-height: 75%;
  padding: 0;
}

OptionList:focus {
  border: none;
}

OptionList > .option-list--option-highlighted {
  background: $primary-lighten-1;
}
