Body {
  height: 1fr;
  layout: horizontal;
}

CurrencyWidget,
Header,
MineScreen > Container,
ScrollableContainer {
  border: round dodgerblue;
  border-subtitle-align: left;
  padding: 0 0 0 1;
}

ScrollableContainer:focus {
  border: round lime;
}

DataTable {
  padding: 0;
}

DataTable > .datatable--header,
DataTable > .datatable--header-hover {
  background: 0%;
}

DataTable > .datatable--cursor {
  background: $primary-lighten-1;
}

DataTable > .datatable--hover {
  background: $boost;
}

/* MyningScreen */

ChapterWidget {
  width: 3fr;
}

ChapterWidget > Question {
  max-width: 100;
  margin-bottom: 1;
}

ChapterWidget > OptionTable {
  border: none;
  height: 1fr;
}

ChapterWidget > GardenTable {
  border: double saddlebrown;
  height: auto;
  width: auto;
  max-width: 100%;
}

ChapterWidget > GardenProgress {
  color: grey;
  grid-columns: 16 1fr;
  grid-rows: 1;
  grid-size: 2;
  height: auto;
  layout: grid;
  margin: 1 0;
}

SideBar {
  width: 1fr;
  min-width: 48;
}

SideBar > DataTable {
  height: 1fr;
}

/* MineScreen */

MineScreen Container {
  height: auto;
  layout: horizontal;
}

MineScreen Container > Static {
  width: auto;
  margin: 0 1 0 0;
}

MineScreen ProgressBar,
MineScreen Bar {
  width: 1fr;
}

/* HelpScreen */

HelpScreen {
  align: center middle;
}

HelpScreen > Static {
  background: $surface;
  border: round dodgerblue;
  padding: 0 1;
  width: 64;
}

/* IntInputScreen */

IntInputScreen {
  align: center middle;
}

IntInputScreen > Vertical {
  background: $surface;
  border: round dodgerblue;
  height: auto;
  padding: 0 1;
  width: 64;
}

IntInputScreen > Vertical > IntInput {
  background: $surface;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 0 0 1 0;
  padding: 1 0 0 0;
}

#error {
  color: $error;
}
